:root {
    --main-bg-color: lightgreen;
    --drop-bg-color: green;
    --active-color: rgb(7, 204, 7);
    --hover-color: rgb(43, 245, 43);
    --header-height: 40px;
    --footer-height: 100px;
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/firasans/v8/va9E4kDNxMZdWfMOD5Vvk4jLeTY.woff2) format('woff2');
    font-display: swap
}

body {
    font-family: 'Fira Sans';

}

main {
    margin: 40px auto 0;
    line-height: 1.4em;
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

body>footer {
    border-top: 1px solid black;
    background-color: var(--main-bg-color);
    padding: 20px;
    text-align: center;
    height: var(--footer-height);
}

body>header {}


.menu ul {
    list-style: none;
    display: flex; 
}

ul.menu>li {
    display: inline-block;
    padding: 5px;
}

ul.menu>li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul.menu>li:hover {
    background-color: var(--hover-color);
}

nav {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-bg-color);
    min-height: var(--header-height);
}




.dropdown-content {
    padding: 0;
    position: absolute;
    flex-direction: column;
    max-width: 100%;
    /* display: none; */

}

.dropdown-content>li:first-child {

    margin-top: 10px;
}

.dropdown-content>li {
    display: none;
    text-align: left;
    padding: 10px 5px 0 5px;
    border-top: 1px solid green;
    background-color: var(--active-color);

}

.dropdown-content>li:hover {
    background-color: var(--drop-bg-color);
}

.menu>li:hover .dropdown-content>li {
    display: block;

}

/* hamburger */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 2px;
    background-color: rgb(22, 22, 22);
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-2px, 3px);
    ;
}

@media all and (max-width:540px) {
    .show {
        display: block !important;
    }
    .hide{
        display:none !important;
    }

    nav {
        flex-direction: column;
    }

    .hamburger {
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
    }

    ul.menu {
        width: 100%;
        margin-top: 40px;
        display: none;
    }

    ul.menu>li {
        display: block;
        text-align: left;
        padding-top: 10px;
        border-top: 1px solid green;
    }

    div.logo {
        position: absolute;
        right: 5px;
        top: 5px;
    }

    ul.dropdown-content {
        position: static;
        display:none;
    }
}

div.logo {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding-right: 10px;
}

/** TYPOGRAPHY **/
img {
    width: 100%;
    max-width: 800px;

}

h1,
h2,
h3 {
    padding: 20px 0 10px;
}

main p {
    padding: 5px;
    transition: scale 1s;
}

main ul,
main ol {
    margin-left: 25px;
}

main hr {

    margin: 5px;
    border: 1px solid lightgrey;
}
