:root {
    --main-bg-color: lightgreen;
    --drop-bg-color: green;
    --active-color: rgb(7, 204, 7);
    --hover-color: rgb(43, 245, 43);
    --header-height: 40px;
    --footer-height: 100px;
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/firasans/v8/va9E4kDNxMZdWfMOD5Vvk4jLeTY.woff2) format('woff2');
    font-display: swap
}

body {
    font-family: 'Fira Sans';

}

main {
    margin: 40px auto 0;
    line-height: 1.4em;
    max-width:800px;
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

body>footer {
    border-top: 1px solid black;
    background-color: var(--main-bg-color);
    padding: 20px;
    text-align: center;
    height: var(--footer-height);
}

nav {
    display: block;
    float: left;
}

.navbar {
    display: block;
    min-width: 320px;
    width: 100%;
    height: var(--header-height);
    background-color: var(--main-bg-color);
    position: fixed;
    top: 0;
    left: 0;
}

div.logo {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    float: right;
    padding-right: 10px;
}

body>header {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    max-width: 800px;

}


/*MENU*/
.menu {
    list-style-type: none;
    margin: 5px;
}

.menu>li a {
    text-decoration: none;
    color: black;
}

.menu>li {
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    transition: background-color 1s;
}

.menu>li:not(:last-child) {
    border-right: 2px solid green;
}

.menu>li:hover {
    background-color: var(--hover-color);
}

.menu>li.active {
    background-color: var(--active-color);
    box-shadow: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    max-height: 90vh;
    overflow: auto;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

.dropdown-content>li {
    display: block;
    padding: 5px;
    text-decoration: none;
    background-color: var(--drop-bg-color);
    list-style-type: none;
    border: 1px solid grey;


}

.dropdown-content>li:hover {
    background-color: var(--active-color);
}

/** TYPOGRAPHY **/
h1,
h2,
h3 {
    padding: 20px 0 10px;
}

main p {
    padding: 5px;
    transition: scale 1s;
}

main ul,
main ol {
    margin-left: 25px;
}

main hr {

    margin: 5px;
    border: 1px solid lightgrey;
}

/*FORM*/
form {
    margin: 20px;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
    border: 1px solid grey;
    display: block;
}

input[type=submit] {
    background-color: var(--active-color);
    color: black;
    padding: 12px 20px;
    cursor: pointer;
    transition: font-size 1s, background-color 1s;
}

input[type=submit]:hover {
    background-color: var(--hover-color);
    font-size: 1.2em;
}

@keyframes run {
    from {
        margin-left: 0%;
    }

    to {
        transform: rotateY(180deg);
        margin-left: calc(100% - 128px);
    }
}

#run-usein {
    display: block;
    background-image: url('https://ih1.redbubble.net/image.302574145.5014/flat,128x128,075,t.u4.jpg');
    width: 128px;
    height: 128px;

    animation: run 9.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/* hamburger */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-6px, -6px);
}

/*Responsivness*/
@media screen and (max-width: 650px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: none;
        align-self: flex-end;
        float: left;
        min-width: 200px;
        margin-top: 40px;

        background-color: var(--main-bg-color);
    }

    .dropdown-content {
        overflow: auto;
        max-height: 400px;
    }

    .menu>li {
        display: block;
    }

    .hamburger {
        display: inline-block;
        float: none;
        position: absolute;
        top: 5px;
        left: 5px;

    }

    div.logo {
        position: absolute;
        right: 5px;
        top: 5px;
    }

}